/***********************************/
/******** Non-setting specific   **/


.block-language-math  {
    background-color: var(--code-background);
    font-family: var(--font-monospace);    
    font-size: var(--code-size);    
} 

/**********************************/
/* ** Right-aligned Style ** */
.numerals-answer-right .numberpad-line {
    line-height: var(--line-height-tight);
    clear: both;
    overflow: auto;    
}

.numerals-answer-right .numberpad-line:nth-child(even){
    background-color: var(--color-base-20);
}

.numerals-answer-right .numberpad-input {
    float: left;
}

.numerals-answer-right .numberpad-result {
    float: right;
    color: var(--text-muted);
}

.block-language-math.numerals-answer-right  {
    padding: var(--size-4-4);
} 

/**********************************/
/* ** Two Panes Style ** */
/* this leads to filling all the way to the bottom of the container. probably bigger than desired */
.numerals-panes .numberpad-line {
    line-height: var(--line-height-tight);
    display: table-row;
}
 
.numerals-panes .numberpad-input {
    display:table-cell;
    padding-left: var(--size-4-4);
}

.numerals-panes .numberpad-result {
    display: table-cell;
    color: var(--text-muted);
    background-color: var(--color-base-25);
    width: 25%;
    text-align: right;
    border-left: 1px solid var(--background-modifier-border-focus);
    padding-right: var(--size-4-4);
}

.block-language-math.numerals-panes {
    display:table;
    width: 100%;
}

.numerals-panes .numberpad-line:first-child span {padding-top:    var(--size-4-4);} */
.numerals-panes .numberpad-line:last-child  span {padding-bottom: var(--size-4-4);} */

/**********************************/
/* ** Result on following line ** */

.numerals-answer-below .numberpad-line {
    line-height: var(--line-height-tight);
}


.numerals-answer-below .numberpad-line span {
    display:block;
    padding-left: var(--size-4-4);
    padding-right: var(--size-4-4);   
}

.numerals-answer-below .numberpad-line .numberpad-result {
    /* float: right; */
    color: var(--text-muted);
    padding-left: var(--size-4-8);
    padding-bottom: var(--size-2-1);
}

.block-language-math.numerals-answer-below {
    padding-top: var(--size-4-4);
    padding-bottom: var(--size-4-4);
} 